<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" >Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/employee" >Read employee</a></li>
            <li><a class="dropdown-item" routerLink="/employee/add-employee" >Add employee</a></li>
            <li><a class="dropdown-item" routerLink="/employee/update-employee" >Update employee</a></li>
            <li><a class="dropdown-item" routerLink="/employee/delete-employee" >delete employee</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/category" >Read category</a></li>
            <li><a class="dropdown-item" routerLink="/category/add-category" >Add category</a></li>
            <li><a class="dropdown-item" routerLink="/category/update-category" >Update category</a></li>
            <li><a class="dropdown-item" routerLink="/category/delete-category" >delete category</a></li>
          </ul>
        </li>

        </ul>
  </div>
  </div>
</nav>
